@import 'reset.scss';

body {
  display: flex;
  flex-direction: column;
  min-height: 100hv;
  background-image: url("../images/venice-italy.jpg");
  font-family: "Rubik", monospace;
}

%position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


header {
  @extend %position;
  font-size: 50px;
  color: white;
}

.content {
  @extend %position;

  p {
    font-size: 30px;
    color: white;
  }

  .display_time {
    @extend %position;
    position: relative;

    #timer {
      position: absolute;
      top: 40px;
    }

  }

  button {
    border-radius: 5px;
  }

  .set_time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button {
      margin: 20px;
      cursor: pointer;
    }
  }

  .action_buttons {
    font-size: 20px;
    height: 40px;
    width: 100px;
    cursor: pointer;
  }
}
