@import 'reset.scss';

%position {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container {
  @extend %position;
  min-height: 430px;
  box-sizing: border-box;
  margin-top: 20px;
  background-image: linear-gradient(#b37700, #fff);
  font-family: "Rubik", monospace;

  header {
    font-size: 50px;
  }

  .content {
    @extend %position;

    p {
      font-size: 30px;
    }

    button {
      border-radius: 5px;
    }

    .set_time {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      button {
        margin: 20px;
        cursor: pointer;
      }
    }

    .action_buttons {
      font-size: 20px;
      height: 40px;
      width: 100px;
      cursor: pointer;
    }
  }
}
